// Place all the styles related to the Dishes controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/
body {
  background: #450000;
}

.vin-gradient{
  background: linear-gradient(#F9F6DE, #DEDCCE);
  box-shadow:
    0 0 20px 15px #F9F6DE;
}

.vin-font {
  font-family: 'Cinzel', serif;
}

.cursive {
  font-family: 'Playball';
  font-size: 32px;
  padding-top:10px;
}

.container {
  background: linear-gradient(#F9F6DE, #DEDCCE);
}

img {
  height: 100px;
}
